autogen==0.8.4
chromadb==0.6.3
fastapi==0.115.12
langchain==0.3.22
langchain_community==0.3.20
openai==1.70.0
pydantic==2.11.2
pymongo==4.11.3
python-dotenv==1.1.0
tqdm==4.67.1
uvicorn==0.34.0
python-multipart==0.0.12
